@import './utilities/variables.scss';
@import './utilities/mixins.scss';


@import './_form.scss';
@import './_categ.scss';
@import './_sub-main.scss';
@import './_main.scss';
@import './_payment.scss';
@import './_header.scss';
@import './_incomes.scss';
@import './_button.scss';
 
* {
    text-decoration: none;
    box-sizing: border-box; 
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: $main-font;
    font-size: 105%;
    background: rgb(248, 248, 248)
}

ul {
    padding-left:0;
    margin: 0;
}

h1, p, a {
    color: $font-color;
}

*:focus {
    outline:none !important;
}

.app-wrapper {
    width: 80%;
    // padding: 20px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
}

.info p {
    margin-left: 3px;
}

.title {
    font-size: 100%;
    font-weight: 600;
}