.category {
    margin-bottom: 20px;
    padding: 15px;
    border: solid 2px $main-color;
    @include border-radius(15px);
    background: $gradient-background;
    overflow: hidden;

    .div-category-header {
        font-size: 105%;
        font-weight: 600;
        // border-bottom: solid 3px #888;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .categ-title:hover {
            // flex: 1 0;
            p {
                color: $hover-font-color;
            }
        }

        .arrow-img {
            width: 24px;
            height: 24px;
            @include transition(0.5s);
        }
    }

    .category-container-content {
        display: flex;
        flex-direction: column;
    }
}