.category {
    margin-bottom: 20px;
    padding: 15px;
    // overflow: hidden;
    border: solid 2px $main-color;
    @include border-radius(15px);
    background: $gradient-background;
    // transition: height 1s ease;
    overflow: hidden;

    .div-category-header {
        font-size: 105%;
        font-weight: 600;
        // border-bottom: solid 3px #888;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        
    }

    .category-container-content {
        display: flex;
        flex-direction: column;
    }
}