.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 10px; 
    margin-bottom: 30px;
    background-image: url('images/doodles.png');
    border-bottom: 2px solid rgb(190, 190, 190);

    .logo-of-app {
        flex: 1 1;

        h2 {
            // border-bottom: 2px solid rgb(221, 221, 221);
            // box-shadow: 0px 8px 6px -4px rgb(190, 190, 190);            
            display: inline;
            background: -webkit-radial-gradient(center, ellipse cover, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%,rgba(255,255,255,0) 90%); 
            font-size: 180%;
            padding: 10px;        
        }
    }
    .input-date{
        flex: 1 1 20%;
        display: flex;
    }


    .date-container {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 45px;
        font-size: 130%;

        img {
            
            opacity: 0.5;
            transform: scale(0.8);
            transition: all 0.5s ease;
        }
        
        img:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        p {
            margin: 10px;
        }

    }

}

@media screen and (max-width: 768px) {
    .app-header {
      justify-content: space-around !important;

        .input-date {
            flex: 0;
        }
    }
}
@media screen and (max-width: 484px) {
    .app-header {
      flex-direction: column;
    }
  }