.main-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    .main-content-item {
        flex: 1 0 30%;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .payments-container {
            list-style-type: none;
            width: 90%;
            max-height: 50vh;
        }
        
        .make-scroll {
            overflow-y: scroll;
        }

        .text {
            font-size: 90%;
            margin-bottom: 0px;
        }
        .number {
            font-weight: 600;
        }
    }
    
    .main-balance {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .main-content {
        flex-direction: column;
        align-items: center;

        .main-content-item {
            width: 100%;
        }
        
        .main-balance {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

}

@media screen and (max-width: 468px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        
        .main-content-item {
            .payments-container {
                max-height: 300px;
            }
        }
        
        .main-balance {
            margin-top: 0px;            
            order: 0;
        }

        .main-payments {
            order: 1;
        }
        
        .main-incomes {
            order: 2;
        }
    }
}