.app-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.categ-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info {
    display: flex;
}

.info p {
    margin-left: 3px;
}

.payments-container {
    width: 20%;
}

.payment-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.main-content {
    display: flex;
    align-items: baseline;
}

.main-content > * {
    flex: 1 0 20%;
}

.div-form-inputs {
    display: flex;
    flex-direction: column;
}

.div-form-inputs input {
    max-width: 50%;
    margin-bottom: 5px;
}