.header-of-app {
    text-align: center;
}

.app-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.main-content {
    display: flex;
    align-items: baseline;
}

.main-content > * {
    flex: 1 0 20%;
}

.main-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categ-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info {
    display: flex;
}

.info p {
    margin-left: 3px;
}

.payments-container {
    list-style-type: none;
    width: 20%;
}

.content {
    display: flex;
    flex-direction: column;
}

.payment-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.div-form-inputs {
    display: flex;
    flex-direction: column;
}

.div-form-inputs input {
    max-width: 50%;
    margin-bottom: 5px;
}

.div-category-header * {
    display: inline;
}